@use '../../../style/constants.scss';

.word {
  position: relative;
  cursor: pointer;
  user-select: none;
  text-align: center;
  height: 35px;

  span {
    background-color: constants.$color-card;
  }

  .text {
    box-sizing: border-box;
    position: relative;
    display: block;
    color: constants.$color-text-grey;
    text-shadow: 0 0 3px constants.$color-text-dark;
    border-radius: 2px;
    height: 100%;
    padding: 5px 0;
    padding-left: 6px;
    font-size: 1.7rem;
    box-shadow: 0 0 3px constants.$color-background-body-light;
    background-size: 800px 350px;
    background-repeat: no-repeat;
  }

  .left {
    z-index: 10;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateX(75%) translateY(-50%);
    border-radius: 100%;
    background-color: constants.$color-background-body-light;
  }

  .right {
    z-index: 100;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-35%) translateY(-50%);
    border-radius: 100%;
    box-shadow: 1px 0 1px constants.$color-background-body-light;
    background-size: 800px 350px;
  }
}
