@use '../../../style/placeholders.scss';
@use '../../../style/mixins.scss';
@use '../../../style/constants.scss';

.game {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  @extend %animation-main;
  @include mixins.animate(main, 0.5s, ease, forwards);
}

.result-sentence {
  height: 35px;
  width: 800px;
  display: flex;
  border: solid 1px constants.$color-text-dark;
}

.source-data {
  display: flex;
  width: 800px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid 1px constants.$color-text-dark;
}

.word {
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  flex-grow: 1;
  padding: 5px;
  border: solid 2px constants.$color-text-dark;
  text-align: center;
  height: 35px;

  &:hover,
  :active {
    border: solid 2px constants.$color-button;
  }
}

.word_inactive {
  &:hover,
  :active {
    cursor: auto;
    border: solid 2px constants.$color-text-dark;
  }
}

.corrected {
  border: solid 2px constants.$color-background-body-light;
}

.uncorrected {
  border: solid 2px constants.$color-text-invalid;
}

.empty {
  text-align: center;
  cursor: default;
  flex-grow: 1;
  padding: 5px;
  border: solid 2px constants.$color-opacity;
  color: constants.$color-opacity;

  &:hover,
  :active {
    border: solid 2px constants.$color-opacity;
  }
}

.button_hidden {
  display: none;
}

.button_auto-complete {
  width: 200px;
  user-select: none;
}
