@use '../../../style/placeholders.scss';
@use '../../../style/mixins.scss';
@use '../../../style/constants.scss';

.game {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  @extend %animation-main;
  @include mixins.animate(main, 0.5s, ease, forwards);
}

.result-sentence {
  height: 35px;
  width: 800px;
  display: flex;
  border: solid 1px constants.$color-text-dark;
}

.source-data {
  display: flex;
  width: 1000px;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px constants.$color-text-dark;
}

.word {
  position: relative;
  margin-right: 1px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  text-align: center;
  height: 35px;

  span {
    background-color: constants.$color-text-grey;
  }

  .text {
    box-sizing: border-box;
    position: relative;
    display: block;
    color: constants.$color-text-dark;
    border-radius: 2px;
    height: 100%;
    padding: 5px 0;
    padding-left: 6px;
    font-size: 1.7rem;
  }

  .left {
    z-index: 10;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateX(75%) translateY(-50%);
    border-radius: 100%;
    background-color: constants.$color-background-body-light;
  }

  .right {
    z-index: 100;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-35%) translateY(-50%);
    border-radius: 100%;
    box-shadow: 1px 0 1px #fff;
  }
}

.corrected {
  border: solid 2px constants.$color-background-body-light;
}

.uncorrected {
  border: solid 2px constants.$color-text-invalid;
}

.empty {
  text-align: center;
  cursor: default;
  flex-grow: 1;
  padding: 5px;
}

.button_hidden {
  display: none;
}

.button_auto-complete {
  width: 200px;
  user-select: none;
}
