$color-text-dark: #202e39;
$color-text-invalid: #b75038;
$color-text-grey: #d6d6d6;
$color-text-completed: #adacac;
$color-background-body-light: #d9e9ef;
$color-opacity: rgb(0 0 0 / 0%);
$color-form: #fafafe;
$color-button: #f8cb00;
$color-card: #202e39;
$color-shadow: 0 5px 15px rgb(0 0 0 / 10%);
$color-shadow-more: 0 5px 15px rgb(0 0 0 / 30%);
$middle-width: 1340px;
$tablet-width: 1000px;
