$color-text-dark: #202e39;
$color-text-invalid: #b75038;
$color-text-grey: #d6d6d6;
$color-background-body-light: #8ecae658;
$color-opacity: rgba(0, 0, 0, 0);
$color-form: #fafafe;
$color-button: #f8cb00;
$color-shadow: 0 5px 15px rgb(0 0 0 / 10%);
$color-shadow-more: 0 5px 15px rgb(0 0 0 / 30%);
