@use '../../../../style/constants.scss';

.hints {
  width: 800px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.translation-field {
  margin-right: 100px;
}

.hint {
  width: max-content;
  background-color: constants.$color-background-body-light;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
