@use '../../../../style/constants.scss';
@use '../../../../style/mixins.scss';

.hints {
  width: 700px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.translation-field {
  margin: auto;
  font-size: 1.7rem;
}

.hint {
  user-select: none;
  width: max-content;
  background-color: constants.$color-background-body-light;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.audio {
  cursor: pointer;
  user-select: none;
}

.audio-play {
  @include mixins.keyframes(play) {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  animation-iteration-count: infinite;

  @include mixins.animate(play, 1s, ease);

  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
